.App {
  width: 1300px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.product-list {
  margin: 0;
  margin-bottom: 145px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.wrapper {
  min-height: 737px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.pugination {
  position: absolute;
  bottom: 0;
}